<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin Area | Users</title>
    <!-- Bootstrap core CSS -->
    
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/bootstraps.css" rel="stylesheet">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            
            <li class="nav-item">
            <a class ="nav-link" href="user_index">Dashboard</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="team">Team</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="posts">Posts</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="about">About Us</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="users">Users</a>
            </li>
            <li class="nav-item active">
            <a class ="nav-link" href="contact">Contact<span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
            <a class ="nav-link" href="#">Welcome Back</a>
            </li>
            <li class="nav-item">
            <a class ="nav-link" href="login">Logout</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Contact <small>Manage Site Contact</small></h1>
          </div>
    </header>

    <div class="container">
    <h2>Contact List</h2>
    <table class="table table-striped" id="mytable">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nama</th>
          <th>Email</th>
          <th>Nomer HP</th>
          <th>Pesan</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
         {{#each results}}
        <tr>
          <td>{{ id_contact }}</td>
          <td>{{ name }}</td>
          <td>{{ email }}</td>
          <td>{{ phone }}</td>
          <td>{{ message }}</td>
          <td>
            <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id_contact }}">Delete</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

	 <!-- Delete Product Modal-->
 	  <form id="add-row-form" action="/delete/contact" method="post">
 	     <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
 	        <div class="modal-dialog">
 	           <div class="modal-content">
 	               <div class="modal-header">
									 	<h5 class="modal-title" id="myModalLabel">Delete User</h5>
 	                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	               </div>
 	               <div class="modal-body">
												 <strong>Are You Sure To Delete This Data?</strong>
 	               </div>
 	               <div class="modal-footer">
									 		<input type="hidden" name="id_contact" class="form-control id_contact2" required>
 	                   	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
 	                  	<button type="submit" class="btn btn-success">Delete</button>
 	               </div>
 	      			</div>
 	        </div>
 	     </div>
 	 </form>
<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstraps.js"></script>
<script>
    $(document).ready(function(){
			//showing modal for delete record
			$('#mytable').on('click','.delete',function(){
        var id_contact = $(this).data('id');
        $('#DeleteModal').modal('show');
        $('.id_contact2').val(id_contact);
      });

    });
</script>
    <footer id="footer">
      <p>Copyright Sanju, &copy; 2020</p>
    </footer>
  </body>
</html>